.goodsDetail {
  width: 100vw;
  background-color: #ffffff;
  padding-bottom: 50px;
  .goodsInfo {
    width: 100%;
    .picture {
      height: 60vh;
      overflow: hidden;
      width: 100%;
    }
    .price {
      padding: 0 10px;
      margin: 0;
      display: block;
      font-size: 40rpx;
      font-weight: 800;
      color: #e4393c;
    }
    .description {
      display: block;
      padding: 10px;
      font-size: 28rpx;
      font-weight: 600;
    }
  }
  .priceDescript {
    width: 100%;
  }
  .popup {
    .count {
      padding: 5px;
      display: flex;
      justify-content: space-between;
    }
  }
}
