.goodsDetail {
  width: 100vw;
  background-color: #ffffff;
  padding-bottom: 50px;
  .goodsInfo {
    width: 100%;
    .picture {
      height: 60vh;
      overflow: hidden;
      width: 100%;
    }
    .price {
      padding: 0 10px;
      margin: 0;
      display: block;
      font-size: 40rpx;
      font-weight: 800;
      color: #e4393c;
    }
    .description {
      display: block;
      padding: 10px;
      font-size: 28rpx;
      font-weight: 600;
    }
  }
  .priceDescript {
    width: 100%;
  }
  .popup {
    .goods{
      display: flex;
      padding: 10px;
      margin-bottom: 300rpx;
      .picture{
        width: 100px;
        height: 50px;
        margin-right: 10px;
      }
      .description{
        font-size: 24rpx;
      }
    }
    .count {
      padding: 10px;
      display: flex;
      justify-content: space-between;
    }
    .stock {
      display: flex;
      justify-content: flex-end;
      font-size: 24rpx;
      color: #707070;
      padding: 10px;
    }
  }
}
