.orderItem {
  .totalAmount {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    .totalAmountInfo {
      font-size: 28rpx;
      font-weight: 600;
      color: #000000;
    }
  }
}
