.orderDetail {
  uni-card {
    margin: 0;
    padding: 0;
  }
  .address {
    display: flex;
    .icon {
      margin-right: 10px;
    }
    .receiptInfo {
      display: flex;
      flex-direction: column;
      .addressInfo {
        color: #000000;
        font-weight: 600;
      }
      .receiverInfo {
        font-size: 24rpx;
        .receiver {
          margin-right: 10px;
        }
      }
    }
  }
  .goodsInfo {
    display: flex;
    justify-content: space-around;
    height: 200rpx;
    width: 100%;
    box-sizing: content-box;

    .goodsPic {
      image {
        height: 100%;
        width: 150rpx;
      }
    }

    .name {
      flex: 40%;
      font-size: 26rpx;
      overflow: hidden;
      margin: 0 5px;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .cap {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .price {
        font-size: 28rpx;
        font-weight: 600;
        color: #000000;
      }
    }
  }
  .otherInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  .footer {
    position: fixed;
    bottom: 0;
    height: 70px;
    background-color: #ffffff;
    button {
      margin-right: 20px;
    }
  }
}
