.orderDetail {
  padding-bottom: 70px;
  uni-card {
    margin: 0;
    padding: 0;
  }
  .address {
    display: flex;
    .icon {
      margin-right: 10px;
    }
    .receiptInfo {
      display: flex;
      flex-direction: column;
      .addressInfo {
        color: #000000;
        font-weight: 600;
      }
      .receiverInfo {
        font-size: 24rpx;
        .receiver {
          margin-right: 10px;
        }
      }
    }
  }
  .rateStart {
    margin-bottom: 15px;
  }
  .otherInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  .footer {
    position: fixed;
    bottom: 0;
    height: 70px;
    background-color: #ffffff;
    button {
      margin-right: 20px;
    }
  }
}
